
<div class="highlight-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center"><%= @group.name %></h2>
    </div>

<div class="main posts-index">
  <div class="container">
    <% @group.users.each do |user| %>
    <% user.posts.each do |post|%>
      <div class="posts-index-item">
        <div class="post-right">
          <div class="post-user-name">
            <%= user.name %>さん
             <%= link_to '投稿へ', new_group_post_path(@group), class:"btn btn-success" %>
          </div>
          <div class="text-center"><h3><%= post.content %>度</h3></div>
          <div class="text-right"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
        </div>
      </div>
    <% end %>
    <% end %>
　　<%= link_to 'ユーザーを追加する', addgroup_path, class:"btn btn-primary btn-block" %>
  </div>
</div>
 </div>
 </div>


<% if current_user.posts.nil?%>
<%= link_to '投稿へ', new_group_post_path(@group), class:"btn btn-success" %>
<% else%>
<%= link_to '投稿へhe', post_path(@post), class:"btn btn-success" %>
<% end %>

