
<div class="highlight-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center"><%= @group.name %></h2>
    </div>

<%# <%= Time.now %> 
<div class="main posts-index">
  <div class="container">
    <% @group.users.each do |user| %>
      <div class="posts-index-item">
        <div class="post-right">
          <div class="post-user-name">
            <%= user.name %>さん
          </div>
          <div class="text-center">本日の体温は『<%= 'user.post' %>』です周知願います。</div>
        </div>
      </div>
    <% end %>
  </div>
</div>
 </div>
 </div>



<%= link_to '投稿へ', new_group_post_path(@group), class:"btn btn-primary" %>
<%= link_to 'ユーザーを追加する', "/adduser/#{@group.id}", class:"btn btn-primary" %>



